<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <h2>Thông Tin Liên Hệ</h2>
        
        <ul class="footer-info">
          <li>Địa chỉ: Số 10, Huỳnh Văn Nghệ, P. Bửu Long, Tp. Biên Hòa - Tỉnh Đồng Nai</li>
          <li>Điện thoại: 0251 3952 778</li>
          <li>Email: lachong@lhu.edu.vn</li>
          <li>© 2025 Đại Học Lạc Hồng</li>
        </ul>
      </div>
    </div>
</footer>
  