    <div class="container">
      <section class="intro">
        <h2>Giới Thiệu</h2>
        
        <p><strong>Thành viên dự án:</strong></p>
        <ul>
          <li><strong>Thành viên 1:</strong> Trần Quốc Bảo</li>
          <li><strong>Thành viên 2:</strong> Đinh Hoàng Vũ</li>
          <li><strong>Thành viên 3:</strong> Võ Thiên Ân</li>
          <li><strong>Lớp:</strong> 21TD111</li>
          <li><strong>Đề Tài:</strong> Quản Lý Nhập Thiết Bị Cảm Biến Trong Kho</li>
        </ul>
      </section>
      <section class="features" style="margin-top: 40px; text-align: left;">
        <h2>Tính Năng Chính</h2>
        <div class="feature-list">
          <div class="feature-item">
            <i class="fas fa-eye"></i>
            <h3>Quản lý thiết bị cảm biến nhập vào</h3>
            <p>Mỗi thiết bị cảm biến có một mã số riêng biệt được quản lý bởi nhân viên thông qua hoá đơn. Trong hoá đơn có mã nhập kho để biết thông tin cảm biến như tên, loại thiết bị, ngày nhập, vị trí trong kho.</p>
          </div>
          <div class="feature-item">
            <i class="fas fa-chart-line"></i>
            <h3>Quản lý nhà cung cấp</h3>
            <p>Mỗi lần nhập kho có một mã nhập kho có thông tin ngày thiết bị cảm biến được nhập kho, mã nhân viên phụ trách.</p>
          </div>
          <div class="feature-item">
            <i class="fas fa-cogs"></i>
            <h3>Quản lý nhân viên</h3>
            <p>Nhân viên sẽ quản lý nhập hàng qua hoá đơn.</p>
          </div>
          <div class="feature-item">
            <i class="fas fa-cogs"></i>
            <h3>Quản lý hóa đơn nhập</h3>
            <p>Mỗi hóa đơn có một mã số riêng biệt. Thông tin hóa đơn như ngày lập, nhà cung cấp, danh sách thiết bị, tổng số tiền, trạng thái thanh toán, số lượng,....</p>
          </div>
        </div>
      </section>
    </div>