body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.im {
  display: block; /* Add this */
  justify-content: center;
  text-align: center;
}
.im img{
  padding: 1% 0;
}
nav.menu {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  
}
nav.menu span {
  margin: 0 20px;
}
nav.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;  
  font-weight: bold;  
  transition: color 0.3s;
}
nav.menu a:hover {
  color: #d4d4d4;  
}
main {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  font-size: 30px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.feature-item {
  flex: 1;
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.feature-item i {
  font-size: 48px;
  color: #4CAF50;
  margin-bottom: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table, .table th, .table td {
  border: 1px solid #ddd;
}
.table th, .table td {
  padding: 8px;
  text-align: left;
}
.table th{
  text-align: center;
}
.table thead {
  background-color: #4b4949;
}
/*--------------FOOTER----------------------*/
.footer {
  background-size: cover;
  background-position: center;
  background-color: white; 
  color: #333;
  padding: 20px 0;  
}
.footer-content h2 {
  font-weight: bold;
  border-bottom: 2px solid #4CAF50;
}

.footer-info li {
  font-weight: bold;
}
/*------Lua chon nhap kho-------------------*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f6f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #eff3ef;
}
.dropdown a {
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover a {
  color: #4CAF50;
}
/*----------------Lua chon nhap kho-------------------*/
.navbar-nav {
  display: flex;                /* Sử dụng Flexbox */
  justify-content: space-between; /* Căn giữa và phân phối đều */
  width: 96%;                 /* Đảm bảo chiều rộng đầy đủ */
}

.nav-item {
  margin: 0 10px;             /* Thêm khoảng cách giữa các mục */
}