<div class="container mt-5">
    <h2 class="mb-4">Thêm nhà cung cấp Mới</h2>
    <form action="/Nhacungcap/create" method="POST">
      <div class="form-group">
        <label for="MaNCC">MaNCC:</label>
        <input type="text" class="form-control" name="MaNCC" required>
      </div>
      
      <div class="form-group">
        <label for="TenNCC">TenNCC:</label>
        <input type="text" class="form-control" name="TenNCC" required>
      </div>
      
      <div class="form-group">
        <label for="SDTNCC">SDTNCC:</label>
        <input type="number" class="form-control" name="SDTNCC" required>
      </div>
      
      <div class="form-group">
        <label for="EmailNCC">EmailNCC:</label>
        <input type="text" class="form-control" name="EmailNCC" required>
      </div>
      
      <div class="form-group">
        <label for="DiachiNCC">DiachiNCC:</label>
        <input type="text" class="form-control" name="DiachiNCC" required>
      </div>
      
      <div class="form-group">
        <label for="Masothue">Masothue:</label>
        <input type="number" class="form-control" name="Masothue" required>
      </div>
      
      <button type="submit" class="btn btn-primary">Thêm nhà cung cấp</button>
    </form>    
  </div>
